.title {
    margin-top: -100px;
}
  
.form {
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    background-color: blueviolet;
}

.form_control {
    padding-bottom: 8px;
}

.form_control > * {
    display: block;
}

.form_control label {
    padding-bottom: 5px;
}

.form_control input {
    border-radius: 5px;
    border: 0;
    font-size: medium;
    width: 95%;
    height: 30px;
    padding: 4px 3px;
}

.form_control button {
    border-radius: 5px;
    border: 0;
    background-color: rgba(0, 0, 255, 0.801);
    color: white;
    padding: 4px;
}