.box {
    border: 1px solid gold;
    padding: 40px 400px;
    
  }
  
  .sub-box {
    display: flex;
    justify-content: center;
    padding: 70px 30px;
    background-color: rgb(245, 245, 255);
  }
  
  .main {
    background-color: white;
    font-weight: 600;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .sub-main {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(139, 36, 36);
    display: flex;
    width: 225px;
    border-radius: 7px;
  }
  
  .left,
  .middle,
  .right {
    width: 100%;
    display: flex;
    height: 70px;
  }
  
  .middle {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-left: 2px solid rgb(139, 36, 36);
    border-right: 2px solid rgb(139, 36, 36);
    background-color: rgb(233, 211, 211);
    font-size: 28px;
    color: rgb(139, 36, 36);
    font-weight: 600;
  }
  
  .left > button {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 28px;
    color: rgb(139, 36, 36);
    background-color: white;
  }
  
  .right > button {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    font-size: 28px;
    background-color: rgb(139, 36, 36);
    color: white;
  }
  .input-bar{
      display: flex;
    
  }
  .input-bar input{
    border: none;
    outline: none;

  }
  .input-bar input::placeholder{
      color: rgb(131, 131, 131);
      font-weight: 600;
  }